/* This file is for your main application css. */
@import "bootstrap";

nav.myNavbar {
    margin-bottom: 50px;
}

a.navbar-brand {
    color: white !important;
}

#logged-in{
    color: white;
    text-align: right;
}

#task-title {
    padding-bottom: 30px;
}

#show-card {
    margin-bottom: 15px;
    height: 15.5vh;
}

#card-description {
    white-space: nowrap;
    overflow: hidden;
}

.title {
    font-size: 1.5em;
    color: black;
    overflow: hidden;
}

#task-link {
    color: black;
}