<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello TaskTracker!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <%# looked at https://getbootstrap.com/docs/4.0/components/navbar/ to understand navbars and took the button line from same place %>
    <nav class="navbar navbar-expand navbar-dark bg-dark myNavbar">
      <%= link "TaskTracker", to: "/", class: "navbar-brand" %>
      <div class="navbar-nav">
        <%= link "Users", to: "/users", method: "get", class: "nav-item nav-link" %>
        <%= link "Tasks", to: "/tasks", method: "get", class: "nav-item nav-link" %>
        <span class="nav-item nav-link">
        <%# source Nat's lecture notes %>
        <%= if @current_user do %>
          Logged in as: <%= @current_user.name %> |
          <%= link "Log Out", to: "/session", method: :delete %>
        <% else %>
          <%= link "Log In", to: "/" %>
        <% end %>
        </span>
      </div>
    </nav>

    <div class="container">
      <%# attribution for flash messages: Nat's notes %>
      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
  </body>
</html>
