<div class="col-6 offset-3">
    <h1 style="margin-bottom: 5vh;">New Task</h1>

    <%= render "form.html", Map.put(assigns, :action, task_path(@conn, :create)) %>

    <span><%= #link "Back", to: task_path(@conn, :index) %></span>
</div>